*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 
}

/* ==========================================================================
   Layout
   ========================================================================== */


/* ==========================================================================
   Body
   ========================================================================== */
body{
    font-family: 'Open Sans Condensed', sans-serif;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
.nav-bar{
    background: #777777;
    min-height: 100px;
    width: 100%;
    margin-top: -10px;
}

.nav-bar ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-bar ul li{
    padding: 10px 30px;
    font-size: 2rem;
}


/* ==========================================================================
  Main image at top of page
   ========================================================================== */
.main-image img{
    height: 100%;
    width:100%;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content{
    padding: 0 35px;
}

.all-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content h1 {
    margin: 2.5rem 0 .7rem 0;
}

.content p{
    font-size: 2.1rem;
}

/* ==========================================================================
   Calendar
   ========================================================================== */
.calendar{
    background: #777777;
    height:  30rem;
    width: 55rem;
    margin: 30px auto 30px auto;
}

.calendar h1{
    font-size: 4rem;
    text-align: center;
    padding-top:200px;
}

/* ==========================================================================
   Board Members
   ========================================================================== */

.board-profiles{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.board-members {
    display: flex;
    flex-basis: 50%;
    padding: 20px;
    align-items: center;
    /*justify-content: center;*/
}

.board-members img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-left: 25%;
}

.board-members-info{
    display: inline-block;
    padding-left:20px;
    bottom: 20px;
    font-size: 2rem;
    text-align: left;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer{
    background: #4F4E4E;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.bottom-footer{
    background: #777777;
    width: 100%;
    height: 30px;
}

/* ==========================================================================
   Media min-width 1000px
   ========================================================================== */

@media (min-width: 1000px) {

    .main-image{
        height: 100vh;
    }

    .nav-bar ul{
        flex-direction: row;
        padding: 25px;
        justify-content: center;
    }

    .nav-bar :not(:last-child){
        border-right:1px solid white;
    }

    .all-content{
        flex-direction: row;
    }

    .content{
        flex: 1 50%;
    }

    .board-profiles{
        margin: 0 2rem;
        align-self: center;
        justify-content: center;
    }

    .board-members{
        flex-basis: 33%;
        padding-left: 0;
    }

    .board-members img{
        margin-left:33%;
    }

    .footer{
        flex-direction: row;
    }

} /*end min-width 1000px*/


