*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  }

/* ==========================================================================
   Layout
   ========================================================================== */
h1{
    font-size: 4rem;
}

h2{
    font-size: 3.4rem;
}

h3{
    font-size: 3.2rem;
}

p{
    font-size: 3rem;
}

a {
    color: white;
    text-decoration: none;
}
/* ==========================================================================
   Body
   ========================================================================== */
body{
    font-family: 'Open Sans Condensed', sans-serif;
}

body a{
     text-decoration: none;
     color: #fff
}


/* ==========================================================================
  Main image at top of page
   ========================================================================== */
.main-image img{
    height: 100%;
    width:100%;
    position: relative;
    z-index: 0;
}


/* ==========================================================================
   Navigation
   ========================================================================== */
.nav-bar{
    background: #777777;
    min-height: 100px;
    width: 100%;
    margin-top: -10px;
}

.nav-bar ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-bar a{
    padding: 10px 30px;
    font-size: 2rem;
    font-weight: bold;
}


/* ==========================================================================
Temp Gadge
   ========================================================================== */
.temp-gadge{
    background: rgba(119,119,119,0.5);
    border-radius: 5px;
    height: 5rem;
    width: 5rem;
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 10px;
}

.temp-gadge p,
.temp-gadge h1{
    color: #fff;
    width: 100%;
    margin: 0;
    text-align: center;
}

.temp-gadge p{
    font-size: 1rem;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content{
    padding: 0 80px;
}

.all-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.all-content h1 {
    flex-basis: 100%;
    text-align: center;
    font-weight: bold;
}

.content p{
    margin-bottom: 2.5rem;
}


/* ==========================================================================
   Board Members
   ========================================================================== */

.board-profiles{
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0;
}

.board-members {
    display: flex;
    flex-basis: 50%;
    padding: 20px;
    align-items: center;
    /*justify-content: center;*/
}

.board-members img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-left: 25%;
}

.board-members-info{
    display: inline-block;
    padding-left:20px;
    bottom: 20px;
    font-size: 2rem;
    text-align: left;
}

/* ==========================================================================
   What's Nearby
   ========================================================================== */
.whats-nearby{
    display: flex;
    flex-direction: column;
    width: 100%;;
    align-items: center;
}

.whats-nearby h1{
    background: #777;
    border-radius: 15px;
    color: #fff;
    padding: 25px 5%;
}

.whats-nearby p{
    padding: 0 80px 35px;
}

/* ==========================================================================
   Newsletter
   ========================================================================== */
.sign-up-section{
    background: #ccc;
    height: 100px;
    text-align: center;
}

.sign-up-section{
    padding-top: 35px;
}
.sign-up-section P, 
#newsletter-label{
    color: #777;
    font-size: 1.5rem;
    font-weight: bold;
}

#newsletter-form{
    height: 30px;
}
#newsletter-btn{
    color: #fff;
    background-color:#777;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1rem;
    height: 30px;
    width:90px;
}


/* ==========================================================================
   Footer
   ========================================================================== */
.footer{
    background: #4F4E4E;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 40px;
}

.bottom-footer{
    background: #777777;
    width: 100%;
    height: 30px;
}

footer p{
    font-size: 1rem;
    display: inline-block;
}

#forms-docs-btn{
    border: .5px solid #fff;
    padding: 2px 6px;
    border-radius: 5px;
    color: #f1f1f1;
}

#forms-docs-btn:hover{
    color: #fff;
}

footer .checkmark{
    padding-left: 5px;
}



/* ==========================================================================
   Media min-width 1000px
   ========================================================================== */

@media (min-width: 1000px) {
        h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2.5rem;
    }

    h3{
        font-size: 2.3rem;
    }
    
    p{
        font-size: 2.1rem;
    }

    .main-image{
        height: 100vh;
    }

    .home-button{
        display: initial;
    }

    .nav-bar{
        background: rgba(119,119,119,0.5);
        position: absolute;
        bottom: 0px;
        z-index: 2;
    }

    .nav-bar ul{
        flex-direction: row;
        padding: 25px;
        justify-content: center;
    }

    .nav-bar ul li{
    padding: 10px 50px;
    }

    .nav-bar :not(:last-child){
        border-right:1px solid white;
    }

    .all-content{
        flex-direction: row;
    }

    .content{
        flex: 1 50%;
    }

    .board-profiles{
        margin: 0 2rem;
        align-self: center;
        justify-content: center;
    }

    .board-members{
        flex-basis: 33%;
        padding-left: 0;
    }

    .board-members img{
        margin-left:33%;
    }

    .footer{
        flex-direction: row;
    }

} /*end min-width 1000px*/


